.b{
    
    text-align: center;
}
.body{
    background-color: blue;
    text-align: center;
    padding: 10px;
    width: 30vw;
}
.heading{
    color: beige;
}
.login{
    background-color:rgb(5, 233, 5) ;
    color: aliceblue;
    border-radius: 2px;
    border-style: none;
}